<div class="jumbotron jumbotom-fluid animated fadeIn Fast">
    <h1 class="display-4">Desafío Angular</h1>
    <p class="lead">Esta es una aplicación de prueba de angular V11</p>
    <hr class="my-4">
    <p>Para ver el listado completo oprima el botón, o acceda desde la barra superior (navbar)</p>
    <p>Para crear un nuevo Post, puede acceder al "formulario" desde el navbar.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" [routerLink]="['../listado']" href="#" role="button">Abrir lista de Posts</a>
    </p>
</div>
